[submodule "source/pokefirered"]
	path = source/pokefirered
	url = https://github.com/pret/pokefirered
[submodule "source/pokemonHnS"]
	path = source/pokemonHnS
	url = https://github.com/PokemonHnS-Development/pokemonHnS
[submodule "source/pokeemerald"]
	path = source/pokeemerald
	url = https://github.com/pret/pokeemerald
[submodule "source/pokeplatinum"]
	path = source/pokeplatinum
	url = https://github.com/pret/pokeplatinum
[submodule "source/emerald-enhanced"]
	path = source/emerald-enhanced
	url = https://github.com/Enhanced-Projects/Emerald-Enhanced
