[submodule "source/pokefirered"]
	path = source/pokefirered
	url = https://github.com/pret/pokefirered
[submodule "source/pokeheartgold"]
	path = source/pokeheartgold
	url = https://github.com/pret/pokeheartgold
[submodule "source/pokeemerald"]
	path = source/pokeemerald
	url = https://github.com/pret/pokeemerald
[submodule "source/pokeplatinum"]
	path = source/pokeplatinum
	url = https://github.com/pret/pokeplatinum
