[submodule "source/pokefirered"]
	path = source/pokefirered
	url = https://github.com/pret/pokefirered
[submodule "source/pokeheartgold"]
	path = source/pokeheartgold
	url = https://github.com/pret/pokeheartgold
[submodule "source/pokeemerald"]
	path = source/pokeemerald
	url = https://github.com/pret/pokeemerald
[submodule "source/pokeplatinum"]
	path = source/pokeplatinum
	url = https://github.com/pret/pokeplatinum
[submodule "source/emerald-enhanced"]
	path = source/emerald-enhanced
	url = https://github.com/Enhanced-Projects/Emerald-Enhanced
[submodule "source/pokemonhns"]
	path = source/pokemonhns
	url = https://github.com/PokemonHnS-Development/pokemonHnS
	shallow = true
